<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AHS Events</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard">
                <span class="oi oi-target" aria-hidden="true"></span> Leaderboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="winner">
                <span class="oi oi-heart" aria-hidden="true"></span> Winners
            </NavLink>
        </div>

        <br/>
        <br/>
        <p style="text-align:center; color:white; font-size:medium">Administration</p>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attendance">
                <span class="oi oi-plus" aria-hidden="true"></span> Assign Points
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drawwinner">
                <span class="oi oi-aperture" aria-hidden="true"></span> Draw Winners
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="event">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="student">
                <span class="oi oi-people" aria-hidden="true"></span> Add Students
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
