@page "/leaderboard"

<PageTitle>Leader Board</PageTitle>

@using SchoolEventWeb.Data
@inject NavigationManager NavigationManager
@inject EventService Service

<h2>Leader Board</h2>
<hr />

<form>

    @if (leaderBoardPoints == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Student Name</th>
                    <th>Grade</th>
                    <th>Total Points</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var eventPoint in leaderBoardPoints)
                {
                    <tr>
                        <td>@eventPoint.StudentId</td>
                        <td>@eventPoint.StudentName</td>
                        <td>@eventPoint.StudentGrade</td>
                        <td>@eventPoint.TotalPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>



@code {
    List<LeaderBoardPoint> leaderBoardPoints = new List<LeaderBoardPoint>();

    protected override async Task OnInitializedAsync()
    {
        leaderBoardPoints = Service.GetLeaderBoardPoints();
    }

   
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
